/* genelal */

#app,
#start,
#game {
    height: 100vh;
    width: 100vw;
}

#app {
    background-color: #206A73;
}

.flex {
    display: flex;
}

.columns {
    flex-direction: column;
}

.rows {
    flex-direction: row;
}

/* start page */

.title {
    text-align: center;
}

#start {
   /* display: none !important; /*check game page*/
    align-items: center;
}

#start-form {
    margin: 0 auto;
    text-align: center;
}

#start-form,
div {
    margin-top: 10px;
}


/* game page */


#gameArea {
    background-color: #164659;
    height: 90vh;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;
    gap: 2%;
    
}

.hide {
    display: none !important;
}
 
#scoreboard {
    width: 20vw;
    background-color: #327361;
}

.block {
    width: 50px;
    height: 50px;
}

