/* genelal */

#app,
#start,
#game {
    height: 120vh;
    width: 100vw;
}

#app {
    background-color: #206A73;
}

.flex {
    display: flex;
}

.columns {
    flex-direction: column;
}

.rows {
    flex-direction: row;
}

.title { 
    font-family: 'Orbitron', sans-serif;
    color: white;
}
/* start page */

.title {
    text-align: center;
}

#start {
   /* display: none !important; /*check game page view */
    align-items: center;
}

#start-form {
    margin: 0 auto;
    text-align: center;
}

/* #start-form,
div {
    margin-top: 10px;
} */

#name-taken {
    color: rgb(163, 161, 161);
    font-weight: bold;
    text-decoration: underline;
}



/* game page */
.hide {
    display: none !important;
}

#gameArea {
    background-color: #164659;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    align-items: center;   
}

#virus {
    width: 50px;
    height: 50px;
    position: absolute;
}
 
#scoreboard {
    width: 20vw;
    background-color: #327361;
}

.block {
    width: 50px;
    height: 50px;
    /*position: absolute;*/
}

#result-wrapper {
    height: 100vh;
    width: 100vw;
    align-items: center;
}

#result {
    margin: 0 auto;
    text-align: center;
}
